@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

:root {
  --color-background-primary: #151515;
  color-scheme: dark;
}

html,
body,
#root {
  background-color: var(--color-background-primary) !important;
  color: #ffffff !important;
  overflow-x: hidden;
  position: relative;
}

#titlebar {
  width: 100%;
  height: 2rem;
  app-region: drag;
  position: absolute;
}
